@using SampleEntityFramework.DomainModels.Common

@if (Model.Data.TotalPages > 1)
{
    <nav class="pagination">
        <ul>
            @for (var i = 1; i <= Model.Data.TotalPages; i += 1)
            {
                if (i == Model.Data.Page)
                {
                    <li class="active"><span>@i</span></li>
                }
                else
                {
                    var routeValues = new RouteValueDictionary
                    {
                        {"area", Model.Area},
                    };

                    if (i > 1)
                    {
                        routeValues.Add("page", i);
                    }

                    if (Model.Data.PageSize != PaginatedModel<object>.DefaultPageSize)
                    {
                        routeValues.Add("pageSize", Model.Data.PageSize);
                    }

                    var url = Url.Action(Model.Action, Model.Controller, routeValues);
                    var label = i.ToString();

                    <li><a href="@url">@label</a></li>
                }
            }
        </ul>
    </nav>
}
